<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link" id="submit-link" data-user-id="<%= current_user.id %>">
</form>
<h3>Filters:</h3>
<form id="filter">
  <label>By text:
    <input id="link-filter">
  </label>
  <button type="button" name="only-unread-links" id="only-unread-links">Only Unread Links</button>
  <button type="button" name="only-read-links" id="only-read-links">Only Read Links</button>
</form>

<div id="links-list">
  <% @links.each do |link| %>
  <div class='link <%= link.read %>' data-id='<%= link.id %>' id='link-<%= link.id %>' >
    <div class="hotread"></div>
    <p class='link-title'><%= link.title %></p>
    <p class='link-url'><%= link.url %></p>
    <p class='link-read'><%= link.read %></p>
    <p class="link_buttons">
      <% if link.read %>
        <button class="mark-read" style='display:none'>Mark as Read</button>
        <button class="mark-unread">Mark Unread</button>
      <% else %>
        <button class="mark-read">Mark as Read</button>
        <button class="mark-unread" style='display:none'>Mark Unread</button>
      <% end %>

      <button class='save-edit-link' style='display:none'>Save</button>
      <button class='edit-link'>Edit</button>
      <button class='delete-link'>Delete</button>
    </p>
  </div>
  <% end %>
</div>
